@media screen and (max-width: 1720px) {
    .container {
        padding: 0 20px;
    }

    .sec5>.container {
        padding: 0 70px;
    }

    .swiper-pagination-vert {
        right: 30px !important;
    }
}

@media screen and (max-width: 1300px) {
    .header-container-middle {
        gap: 30px;
    }

    .head-menu li a {
        width: 100px;
    }

    .mySwiperCart-vert-container-block-text {
        height: auto;
    }

    .mySwiperCart-vert-container-block-bottom {
        margin-top: 20px;
    }

    .mySwiperCart-vert-container-block-text {
        gap: 20px;
    }

    .mySwiperCart-vert,
    .swiper-pagination-vert {
        display: none !important;
    }

    .mySwiperCart-vert-container-block {
        width: 100%;
    }

    .mySwiperCart-vert-container-block-img {
        height: 503px;
    }

    .sec5-container {
        display: flex;
        flex-direction: column;
        gap: 60px;
    }
}

@media screen and (max-width: 1000px) {
    .head-menu {
        display: none;
    }

    .footer-container {
        gap: 50px;
    }

    body {
        background-image: url("img/Mobile.png");
    }

    .sec-team {
        padding: 100px 0;
    }

    .sec-team-bottom {
        padding-top: 50px;
        display: flex;
        gap: 26px;
        align-items: start;
        justify-content: center;
        flex-direction: column-reverse;
    }

    .sec-team-bottom a {
        font-size: 20px;
        width: 240px;
        height: 60px;
    }

    .sec-team-top {
        gap: 20px;
    }

    .sec2 {
        padding-bottom: 175px;
        padding-top: 150px;
    }

    .sec5 {
        padding: 0;
    }

    .main-news {
        padding: 100px 0 20px;
    }

    .sec5-container {
        gap: 50px;
    }

    .hamburger-menu {
        display: block;

    }

    .head-leang {
        display: none;
    }

    .head-logo {
        z-index: 99999
    }

    .btn-header {
        width: 272px;
        font-weight: 400;
        font-size: 22px;
        line-height: 100%;
        text-align: center;
        vertical-align: middle;
        height: 48px;
        z-index: 99999;
    }

    .menu__box {
        padding: 50px 56px 0;
    }

    .header-container {
        padding: 13px 36px;
    }

    .list-header li a {
        font-size: 30px;
        line-height: 150%;
    }

    .filter-btn {
        min-width: 0;
    }

    .filter-btn span {
        display: none;
    }

    .filter-btn.active span {
        display: block;
    }

    .footer-socials {
        display: none;
    }

    .footer-container {
        gap: 40px;
        flex-direction: column;
    }
    .socials-mobile-container{
    display: flex;
}
}

@media screen and (max-width: 767px) {
    .sec1 {
        padding-top: 100px;
        padding-bottom: 90px;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .sec-contacts {
        padding: 190px 0;
    }

    .header-container-middle {
        gap: 15px;
    }

    .btn-header {
        width: 90px;
        font-size: 14px;
        height: 30px;
        border-radius: 10px;
    }

    .menu__box {
        padding: 40px 20px;
    }

    .header-container {
        padding: 13px 0;
    }

    .devider {
        margin: 40px;
    }

    .head-logo img {
        width: 100px;
    }

    .hamburger-menu {
        width: 30px;
        height: 30px;
    }

    .menu__btn {
        margin-top: -35px;
        width: 30px;
        height: 30px;
    }

    .list-header li a,
    .list-header li:last-child::before {
        font-size: 18px;
        line-height: 150%;
    }

    .list-header li:last-child {
        display: flex;
        align-items: center;
        gap: 10px;
    }


    .mySwiperCart-vert-container-block-text p,
    .head-leang,
    .swiper-slide-first p {
        font-size: 16px;
        line-height: 20px;
    }

    .sec1-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        justify-content: center;
    }

    .sec1-content-btns {
        padding: 0;
        width: 100%;
        justify-content: center;
        gap: 37px;
    }

    .sec1-content-logo {
        width: 500px;
    }

    .sec1 {
        background-image: url("img/bg-main-mobile.png");
        background-size: cover;
        background-position: 0px center;
    }

    .main-title {
        font-size: 18px;
        margin: 0;
    }

    .sec1-social-links {
        display: none;
    }

    .sec5>.container {
        padding: 0 20px;
    }
}

@media screen and (max-width: 650px) {
    body {
        background-size: 800px;
    }
}

@media screen and (max-width: 575px) {
    .sec1 {
        padding-top: 150px;
    }

    .sec-contacts {
        padding: 100px 0;
    }

    .sec-team-top {
        flex-direction: column;
    }

    .mySwiperCart-vert-container-block-img {
        height: 300px;
    }

    .sec2-text p,
    .swiper-slide-first p {
        font-size: 16px;
        line-height: 26px;
    }

    .sec-contacts-container p,
    .sec-team-title,
    .sec2-text span,
    .swiper-slide-first-title {
        font-size: 36px;
        line-height: 46px;
    }

    .swiper-slide-first {
        height: 450px !important;
    }

    .swiper-container {
        height: 450px !important;
    }

    .sec-contacts-container input,
    .sec-contacts-container textarea {
        width: 100%;
    }

    .sec2 {
        padding: 50px 0;
    }

    .main-news {
        padding: 50px 0 0;
    }

    .head-leang {
        display: none;
    }


    .hamburger-menu {
        width: auto;
    }

    .sec1-content-logo {
        width: 400px;
        height: auto;
    }

    .sec1-content-btns {
        gap: 10px;
    }

    .sec1-content-btns a {
        width: 100%;
    }

    .swiper-slide-first {
        padding: 30px !important;
    }

    .sec5 {
        padding: 20px 0 0;
    }

    .sec5-container {
        gap: 20px;
    }

    .sec-team {
        padding: 50px 0;
    }

    .sec-team-subtitle {
        font-size: 18px;
        margin: 0;
        line-height: 100%;
    }

    .sec-team-bottom a {
        font-size: 16px;
        width: 100%;
        height: 50px;
    }
    .socials-mobile-container{
        gap: 30px;
        width: 100%;
        justify-content: space-between;
    }
}

@media screen and (max-width: 450px) {
    .sec1-content-logo {
        width: 300px;
    }

    .sec1-content-btns {
        flex-direction: column;
    }

    .sec1-content {
        gap: 50px;
    }

    .sec-contacts-container p,
    .sec-team-title,
    .mySwiperCart-vert-container-block-text span,
    .sec2-text span,
    .swiper-slide-first-title,
    .sec2-text span {
        font-size: 30px;
        line-height: 40px;
    }
    .filter-btn {
        padding: 4px 8px;
        font-size: 11px;
    }
    .filter-buttons{
        gap: 5px;
    }
    .sec-team-top{
        padding-bottom: 20px;
    }
    .sec-team{
        padding: 30px 0;
    }
}