@font-face {
    font-family: 'Miracle';
    src: local('Miracle'),
        url('/fonts/Miracle.woff2') format('woff2'),
        url('/fonts/Miracle.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: local('Helvetica Neue LT Std 95 Black'), local('HelveticaNeueLTStd-Blk'),
        url('/fonts/HelveticaNeueLTStd-Blk.woff2') format('woff2'),
        url('/fonts/HelveticaNeueLTStd-Blk.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

