@font-face {
    font-family: 'Century Gothic';
    src: local('Century Gothic Bold'), local('CenturyGothic-Bold'),
        url('../fonts/centurygothic_bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Century Gothic';
    src: local('Century Gothic Regular'), local('CenturyGothic'),
        url('../fonts/centurygothic.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

