@import "fonts.css";

body {
  background-color: #000;
  font-family: "Century Gothic", "Inter", "Cochin", sans-serif;
  width: 100%;
  color: #fff;
  position: relative;
}

.header {
  position: absolute;
  top: 80px;
  left: 60px;
  right: 60px;
  font-family: "Century Gothic", sans-serif;
  font-size: 40px;
  z-index: 21;
  opacity: 0;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.hero-section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.hero-info {
  width: 100%;
  height: 100%;
  position: relative;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
  z-index: 21;
  opacity: 0; /* Скрыто изначально */
  transform: translateY(30px); /* Для анимации появления */
}

.hero-main-text {
  width: 995px;
  max-width: 80%;
}

.hero-additional-text {
  width: 715px;
  max-width: 60%;
  margin-left: 50.5%;
}

.hero-circle {
  width: 115px;
  margin-left: 5%;
}

.curtain-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  pointer-events: none; /* Чтобы можно было кликать сквозь после анимации */
}

.curtain-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(1.3); 
  transform-origin: center;
}
.curtain-svg svg {
  position: absolute;
  width: 100%;
  height: 100%;
}


.content-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 15;
  opacity: 1;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.card1 {
  grid-area: 1 / 1 / 2 / 3;
  overflow: hidden;
  height: 540px;
  width: 100%;
}
.card1 svg path,
.card1 svg rect {
    transition: fill 0.8s ease-in-out;
}
.card2 {
  grid-area: 2 / 1 / 3 / 2;
  height: 540px;
  background-color: #fff;
  width: 100%;
}
.card3 {
  grid-area: 2 / 2 / 3 / 3;
  height: 540px;
  width: 476px;
  background-color: #e94749;
}
.card2 svg,
.card3 svg,
.card4 svg,
.card5 svg,
.card6 svg,
.card7 svg,
.card8 svg,
.card9 svg {
  height: 100%;
  width: 100%;
}
.card4 {
  grid-area: 1 / 3 / 3 / 5;
  width: 100%;
  height: 1080px;
  background-color: #f2bed9;
}
.card5 {
  grid-area: 3 / 1 / 5 / 2;
  height: 1080px;
  width: 100%;
}
.card5 svg {
  margin-top: -10px;
}
.card6 {
  grid-area: 3 / 2 / 4 / 5;
  width: 100%;
  height: 540px;
  background-color: #f2bed9;
}
.card7 {
  grid-area: 4 / 2 / 5 / 4;
  width: 100%;
  height: 540px;
  background-color: #f2bed9;
}

.card8 {
  grid-area: 4 / 4 / 6 / 5;
  width: 100%;
  height: 1080px;
  background-color: #9f2921;
}

.card9 {
  grid-area: 5 / 1 / 6 / 4;
  width: 100%;
  height: 540px;
}

.bottom-cards {
  display: flex;
  flex-direction: row;
  gap: 0;
  width: 100%;
}
.bottom-card1,
.bottom-card2 {
  width: 960px;
  height: 746px;
  background-color: #f2bed9;
  overflow: hidden;
}
.bottom-card1 svg,
.bottom-card2 svg {
  width: 100%;
  height: 100%;
}
.bottom-card1 svg {
  margin-left: -21px;
}



.reveal-clip {
      clip-path: inset(0 100% 0 0);
    }

    .text-fade {
      opacity: 0;
      transform: translateY(40px);
    }
.bottom-card2 {
}

.footer {
  padding: 130px 100px;
}
.footer-info {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.footer-info-left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 850px;
}
.footer-info-left-student,
.footer-info-left-curator {
  display: flex;
  flex-direction: column;
  font-family: "Century Gothic", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 140%;
}
.footer-info-left-student span,
.footer-info-left-curator span {
  font-weight: 700;
}
.footer-info-right img {
  width: 440px;
  height: 150px;
}



@media (min-width:1921px) {
  .header {
  font-size: 48px;
}


.hero-main-text {
  width: 1327px;
  max-width: 80%;
}

.hero-additional-text {
  width: 953px;
  max-width: 60%;
  margin-left: 80.5%;
}

.hero-circle {
  width: 153px;
  margin-left: 7%;
}
.curtain-svg {
  transform: scale(1.7); 
}


  .card1 {
  height: 720px;
  width: 100%;
}
  .card2,
  .card3 {
  height: 720px;
  width: 100%;
}
  .card4 {
  height: 1440px;
  width: 100%;
}
  .card5 {
  height: 1440px;
  width: 100%;
}
  .card6 {
  height: 720px;
  width: 100%;
}
  .card7 {
  height: 720px;
  width: 100%;
}
  .card8 {
  height: 1440px;
  width: 100%;
}
  .card9 {
  height: 720px;
  width: 100%;
}
  .bottom-card1,
.bottom-card2 {
  width: 100%;
  height: 1060px;
}
.bottom-card1 svg{
  margin: 0;
}
.footer-info-left {
  width: 914px;
}
.footer-info-left-student,
.footer-info-left-curator {
  font-size: 36px;
}
.footer-info-right img {
  width: 590px;
  height: 211px;
}
}
@media (max-width:1440px) {
  .header {
  font-size: 32px;
}


.hero-main-text {
  width: 747px;
  max-width: 80%;
}

.hero-additional-text {
  width: 536px;
  max-width: 60%;
  margin-left: 80.5%;
}

.hero-circle {
  width: 95px;
  margin-left: 7%;
}
.curtain-svg {
  transform: scale(1.7); 
}


  .card1 {
  height: 450px;
}
  .card2,
  .card3 {
  height: 450px;
}
  .card4 {
  height: 900px;
}
  .card5 {
  height: 900px;
}
  .card6 {
  height: 450px;
}
  .card7 {
  height: 450px;
}
  .card8 {
  height: 900px;
}
  .card9 {
  height: 450px;
}
  .bottom-card1,
.bottom-card2 {
  width: 100%;
  height: 600px;
}
.bottom-card1 svg{
  margin: 0;
}
.footer-info-left {
  width: 500px;
}
.footer-info-left-student,
.footer-info-left-curator {
  font-size: 20px;
}
.footer-info-right img {
  width: 331px;
  height: 118px;
}
}
@media (max-width:1280px) {
  .header {
  font-size: 36px;
}


.hero-main-text {
  width: 664px;
  max-width: 80%;
}

.hero-additional-text {
  width: 477px;
  max-width: 60%;
  margin-left: 82.5%;
}

.hero-circle {
  width: 85px;
  margin-left: 8%;
}


  .card1 {
  height: 400px;
}
  .card2,
  .card3 {
  height: 400px;
}
  .card4 {
  height: 800px;
}
  .card5 {
  height: 800px;
}
  .card6 {
  height: 400px;
}
  .card7 {
  height: 400px;
}
  .card8 {
  height: 800px;
}
  .card9 {
  height: 400px;
}
  .bottom-card1,
.bottom-card2 {

  height: 526px;
}
.bottom-card1 svg{
  margin: 0;
}
.footer-info-left {
  width: 450px;
}
.footer-info-left-student,
.footer-info-left-curator {
  font-size: 18px;
}
.footer-info-right img {
  width: 294px;
  height: 105px;
}
.footer {
  padding: 40px 40px 100px 100px;
}
}


@media (max-width:768px) {
  .header {
  font-size: 36px;
}


.hero-main-text {
  width: 664px;
  max-width: 80%;
}

.hero-additional-text {
  width: 477px;
  max-width: 60%;
  margin-left: 82.5%;
}

.hero-circle {
  width: 85px;
  margin-left: 8%;
}

.grid {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(7, 1fr);
}

.card1 {
  grid-area: 1 / 1 / 2 / 3;
  height: 500px;
  width: 100%;
}
.card2{
  grid-area: 2 / 1 / 3 / 2;
  height: 500px;
  background-color: #fff;
  width: 100%;
}
.card3 {
  grid-area: 2 / 2 / 3 / 3;
  height: 500px;
  width: 100%;
}
.card4 {
  grid-area: 3 / 1 / 5 / 3;
  width: 100%;
  height: 1000px;
}
.card5,
.card8 {
  display: none;
}
.card6 {
  grid-area: 5 / 1 / 6 / 3; 
  width: 100%;
  height: 500px;
  background-color: #f2bed9;
}
.card7 {
  grid-area: 6 / 1 / 7 / 3; 
  width: 100%;
  height: 500px;
  background-color: #f2bed9;
}


.card9 {
  grid-area: 7 / 1 / 8 / 3; 
  width: 100%;
  height: 500px;
}

.bottom-cards{
  flex-wrap: wrap;
}
  .bottom-card1,
.bottom-card2 {
  width: 100%;
  height: 526px;
}
.bottom-card1 svg{
  margin: 0;
}
.footer-info-left {
  width: 430px;
}
.footer-info-left-student,
.footer-info-left-curator {
  font-size: 16px;
}
.footer-info-right img {
  width: 170px;
  height: 65px;
}
.footer {
  padding: 30px;
}
}

@media (max-width:600px) {
  .header {
  font-size: 20px;
}


.hero-main-text {
  width: 345px;
  max-width: 80%;
}

.hero-additional-text {
  width: 300px;
  max-width: 60%;
  margin-left: 0;
}

.hero-circle {
  width: 45px;
  margin-left: -66%;
}
.curtain-svg {
  transform: scale(4.3); 
}

.grid {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(7, 1fr);
}

.card1 {
  grid-area: 1 / 1 / 2 / 3;
  height: 300px;
}
.card2{
  grid-area: 2 / 1 / 3 / 2;
  height: 300px;
}
.card3 {
  grid-area: 2 / 2 / 3 / 3;
  height: 300px;
}
.card4 {
  height: 600px;
}
.card6 {
  grid-area: 5 / 1 / 6 / 3; 
  height: 300px;
}
.card7 {
  height: 300px;
}


.card9 {
  height: 300px;
}

  .bottom-card1,
.bottom-card2 {
  height: 400px;
}
.bottom-card1 svg{
  margin: 0;
}
.footer-info-left {
  width: 234px;
}
.footer-info-left-student,
.footer-info-left-curator {
  font-size: 10px;
}
.footer-info-right img {
  width: 90px;
  height: 35px;
}
.footer {
  padding: 10px;
}
}
@media (max-width:500px) {
  .header {
  font-size: 16px;
  top: 20px;
  left: 20px;
  right: 20px;
}


.hero-main-text {
  width: 345px;
  max-width: 80%;
}

.hero-additional-text {
  width: 300px;
  max-width: 60%;
  margin-left: 0;
}

.hero-circle {
  width: 45px;
  margin-left: -66%;
}
.curtain-svg {
  transform: scale(5.7); 
}

.grid {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(7, 1fr);
}

.card1 {
  height: 200px;
}
.card2{
  grid-area: 2 / 1 / 3 / 2;
  height: 200px;
}
.card3 {
  grid-area: 2 / 2 / 3 / 3;
  height: 200px;
}
.card4 {
  height: 400px;
}
.card6 {
  grid-area: 5 / 1 / 6 / 3; 
  height: 200px;
}
.card7 {
  height: 200px;
}


.card9 {
  height: 200px;
}

  .bottom-card1,
.bottom-card2 {
  height: 300px;
}
.footer-info-left {
  width: 234px;
}
.footer-info-left-student,
.footer-info-left-curator {
  font-size: 10px;
}
.footer-info-right img {
  width: 90px;
  height: 35px;
}
.footer {
  padding: 10px;
}
}
